$Britain: rgb(42, 44, 128);
$France: rgb(93, 135, 175);
$Germany: rgb(83, 79, 75);
$Italy: rgb(105, 130, 70);
$Austria: rgb(143, 100, 96);
$Russia: rgb(106, 114, 134);
$Turkey: rgb(176, 156, 26);

$colorThemeMenu: #0B3954;
$colorThemeButtons: #488286;
$colorThemeMap: #4E7F64;
$colorThemeChat: #474448;

body {
  font-family: 'Open Sans', sans-serif;
  p {
    margin: 0;
  }
}

.page-nav {
  background-color: $colorThemeMenu;
  .brand-logo {
    font-family: 'Spectral SC', serif;
  }
  #signup {
    background-color: $colorThemeButtons;
  }
}

#map_action_bar {
  margin-left: -1px;
  margin-top: 50px;
  nav {
    background-color: $colorThemeMap;
    #timer, 
    #support_button {
      color: white;
      padding-left: 20px;
      padding-right: 20px;
      &:focus {
        background-color: inherit;
      }
    }
    #turn_and_phase {
      display: inline-block;
      padding-top: 11px;
      #phase {
        font-size: .75rem;
        line-height: normal;
      }
      #turn {
        font-size: 1.5rem;
        line-height: normal;
      }
    }
  }
}

#map > path {
  fill: transparent;
  &:hover {
    fill: rgba(200, 200, 200, 0.5);
  }
  &.Britain {
    fill: $Britain;
    fill-opacity: 0.5;
    &:hover {
      fill-opacity: 0.7;
    }
  }
  &.France {
    fill: $France;
    fill-opacity: 0.5;
    &:hover {
      fill-opacity: 0.7;
    }
  }
  &.Germany {
    fill: $Germany;
    fill-opacity: 0.5;
    &:hover {
      fill-opacity: 0.7;
    }
  }
  &.Italy {
    fill: $Italy;
    fill-opacity: 0.5;
    &:hover {
      fill-opacity: 0.7;
    }
  }
  &.Austria {
    fill: $Austria;
    fill-opacity: 0.5;
    &:hover {
      fill-opacity: 0.7;
    }
  }
  &.Russia {
    fill: $Russia;
    fill-opacity: 0.5;
    &:hover {
      fill-opacity: 0.7;
    }
  }
  &.Turkey {
    fill: $Turkey;
    fill-opacity: 0.5;
    &:hover {
      fill-opacity: 0.7;
    }
  }
  &.targeted {
    fill: yellow;
    fill-opacity: 0.5;
    &:hover {
      fill-opacity: 0.7;
    }
  }
  &.targeted2 {
    fill: blue;
    fill-opacity: 0.5;
    &:hover {
      fill-opacity: 0.7;
    }
  }
  &.potentialMove {
    fill: red;
    fill-opacity: 0.5;
    &:hover {
      fill-opacity: 0.7;
    }
  }
}

.fleet.Britain path,
.army.Britain path {
  fill: $Britain;
}
.fleet.France path,
.army.France path {
  fill: $France;
}
.fleet.Germany path,
.army.Germany path {
  fill: $Germany;
}
.fleet.Italy path,
.army.Italy path {
  fill: $Italy;
}
.fleet.Austria path,
.army.Austria path {
  fill: $Austria;
}
.fleet.Russia path,
.army.Russia path {
  fill: $Russia;
}
.fleet.Turkey path,
.army.Turkey path {
  fill: $Turkey;
}

.page-footer {
  background-color: $colorThemeChat;
  height: 24px;
  margin-left: -1px;
  margin-top: -6px;
  padding-top: 0;
}

tbody {
  display: block;
  height: 200px;
  overflow: auto;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead {
  width: calc( 100% - 1em)
}

table {
  width: 100%;
}

#menu-button {
  background-color: $colorThemeButtons;
}

#view-chat {
  background-color: $colorThemeChat;
}

#view-orders {
  background-color: $colorThemeMenu;
}

#switch-phase {
  background-color: $colorThemeMap;
}