body {
  font-family: 'Open Sans', sans-serif; }
  body p {
    margin: 0; }

.page-nav {
  background-color: #0B3954; }
  .page-nav .brand-logo {
    font-family: 'Spectral SC', serif; }
  .page-nav #signup {
    background-color: #012622; }

#map_action_bar {
  margin-left: -1px;
  margin-top: 50px; }
  #map_action_bar nav {
    background-color: #6C0E23; }
    #map_action_bar nav #timer,
    #map_action_bar nav #support_button {
      color: white;
      padding-left: 20px;
      padding-right: 20px; }
      #map_action_bar nav #timer:focus,
      #map_action_bar nav #support_button:focus {
        background-color: inherit; }
    #map_action_bar nav #turn_and_phase {
      display: inline-block;
      padding-top: 11px; }
      #map_action_bar nav #turn_and_phase #phase {
        font-size: .75rem;
        line-height: normal; }
      #map_action_bar nav #turn_and_phase #turn {
        font-size: 1.5rem;
        line-height: normal; }

#map > path {
  fill: transparent; }
  #map > path:hover {
    fill: rgba(200, 200, 200, 0.5); }
  #map > path.Britain {
    fill: #2a2c80;
    fill-opacity: 0.5; }
    #map > path.Britain:hover {
      fill-opacity: 0.7; }
  #map > path.France {
    fill: #5d87af;
    fill-opacity: 0.5; }
    #map > path.France:hover {
      fill-opacity: 0.7; }
  #map > path.Germany {
    fill: #534f4b;
    fill-opacity: 0.5; }
    #map > path.Germany:hover {
      fill-opacity: 0.7; }
  #map > path.Italy {
    fill: #698246;
    fill-opacity: 0.5; }
    #map > path.Italy:hover {
      fill-opacity: 0.7; }
  #map > path.Austria {
    fill: #8f6460;
    fill-opacity: 0.5; }
    #map > path.Austria:hover {
      fill-opacity: 0.7; }
  #map > path.Russia {
    fill: #6a7286;
    fill-opacity: 0.5; }
    #map > path.Russia:hover {
      fill-opacity: 0.7; }
  #map > path.Turkey {
    fill: #b09c1a;
    fill-opacity: 0.5; }
    #map > path.Turkey:hover {
      fill-opacity: 0.7; }
  #map > path.targeted {
    stroke: yellow;
    stroke-width: 10px; }
  #map > path.targeted2 {
    stroke: blue;
    stroke-width: 10px; }
  #map > path.potentialMove {
    stroke: red;
    stroke-width: 10px; }

.fleet.Britain path,
.army.Britain path {
  fill: #2a2c80; }

.fleet.France path,
.army.France path {
  fill: #5d87af; }

.fleet.Germany path,
.army.Germany path {
  fill: #534f4b; }

.fleet.Italy path,
.army.Italy path {
  fill: #698246; }

.fleet.Austria path,
.army.Austria path {
  fill: #8f6460; }

.fleet.Russia path,
.army.Russia path {
  fill: #6a7286; }

.fleet.Turkey path,
.army.Turkey path {
  fill: #b09c1a; }

.page-footer {
  background-color: #6E7271;
  height: 24px;
  margin-left: -1px;
  margin-top: -6px;
  padding-top: 0; }

tbody {
  display: block;
  height: 200px;
  overflow: auto; }

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; }

thead {
  width: calc( 100% - 1em); }

table {
  width: 100%; }

#menu-button {
  background-color: #012622; }

#view-chat {
  background-color: #6E7271; }

#view-orders {
  background-color: #0B3954; }

#switch-phase {
  background-color: #6C0E23; }

/*# sourceMappingURL=index.css.map */
